* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: calc(100 * var(--vh));
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#conversation {
  flex-grow: 1;
  padding: 10px;
  overflow-y: scroll;
  line-height: 1.6;
  overflow-wrap: break-word;
  background-color: azure;
}

.user {
  white-space: pre-wrap;
}

#chat-form {
  padding: 10px;
}

.btn-container {
  display: flex;
  position: relative;
}

.label-text {
  display: block;
  margin-bottom: 10px;
}

#role-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#question-input {
  width: 100%;
  padding: 10px;
  max-height: 250px;
  min-height: 50px;
  resize: none;
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  padding-right: 80px;
}

#question-input::-webkit-scrollbar {
  display: none;
}

#question-input:focus {
  outline: none;
}

.btn {
  background-color: #007bff;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 80px;
}

p {
  margin-top: 12px;
  margin-bottom: 12px;
}
